.page {
	margin:1.5%;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 83vh;
}
.band {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid black;
	justify-content: space-between;
}
.band h1 {
	font-family: Palatino;
	font-size: 32px;
	padding-bottom: 0px;
	margin-bottom: 0px;

}
.band div {
	align-self: flex-end;
	padding-bottom: 0.6%;
	display: flex;
	gap: 10%;
	padding-right: 7%;
}
.band div input,
.band div a  {
	background-color: transparent;
	padding:6%;
	border: 1px solid black;
	box-shadow: 2px 2px black;
	font-size: 13px;
}
.band div a {
	color:black;
	text-decoration: none;
}
.band div input:active,
.band div a:active {
	background-color: lightgray;
}
.pbox {
	border:1px solid black;
	padding-top: 1.5%;
	padding-left: 2%;
	padding-right: 5%;
	padding-bottom: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
}
.boxlist {
	display:flex;
	flex-wrap: wrap;
	gap:2%;
	padding-bottom: 3%;

}
.delete-checkbox {
	
}
.details {
	display: flex;
	flex-direction: row;
	gap: 1.5em;
}
.data {
	margin-top: 10%;
margin-bottom: 18%;
}
.data div {
	text-align: center;
}
.feet {
	border-top:2px solid black;
	position: relative;
	width: 93%;
	bottom: 0px;
	padding:2em;
	background-color: white;
	margin-left: 1.5%;
}
.feet section {
	text-align: center;
	font-family: revert;
	font-size: 20px;
	text-align: center;
	font-family: Palatino;
}
.frow {
	display: flex;
	flex-direction: row;
	font-size: 18px;
	max-width: 27%;
	justify-content: space-between;
}
.frow label {
	font-weight: bold;
}
#product_form {
	display: flex;
	flex-direction: column;
	padding: 2%;
	font-family: Palatino;
	gap:1.5em;
}
input,
select {
	padding: 2%;
	background-color: transparent;
	border: 2px solid black;
}
.optblock {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
.optblock label {
	align-self: flex-end;
	font-family: 'Palatino';
}
#DVD,
#Book,
#Furniture {
	display: none;
}

select {

    background-position: right 20px bottom;
    background-image: linear-gradient(to right, black 2px, transparent 2px, transparent);
  	background-repeat: repeat;
}
desc {
	text-align: center;
	width: 100%;
	margin-top: 5%;
}
#errspc {
	background-color: pink;
	color:darkred;
	padding: 2%;
	font-size: 16px;
	text-align: left;
	margin-top: 2%;
	display: none;
}